{"filter":false,"title":"requirements.txt","tooltip":"/exercise-rds/FlaskApp/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":0},"end":{"row":9,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1531606513892,"hash":"7810a4bfc39eacb8094a4b7d616ce6d4bb57c005"}